## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlo

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# easy-todo
*.lod

# xindy
*.xdy

# xypic precompiled matrices
*.xyc

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# Kile
*.backup

# KBibTeX
*~[0-9]*

# auto folder when using emacs and auctex
auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
*.pyc

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
.static_storage/
.media/
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Misc files
.idea/*
src/out/
.cache/
*.out.*
src/algorithms/tensorcfr/logs/*
*.json

# Gambit files
doc/poker/GP_cards2x2_122.gbt
doc/poker/GP_cards4x3_222.gbt
doc/poker/GP_cards4x3_224.gbt
doc/goofspiel/IIGS5_s1_bf_ft.gbt
doc/goofspiel/IIGS6_s1_bf_ft.gbt
doc/phantom_ttt/phantom_ttt.efg
logs/
/src/nn/data/out/

cached_hkl/
cached_hdf5/
*.hkl
/src/nn/features/goofspiel/IIGS3/IIGS3_1_3_false_true_lvl7_public_states_sizes.csv
/src/showcases/hdf5/dset.h5
/src/showcases/hdf5/group.h5
/src/showcases/hdf5/cmprss.h5
/src/showcases/hdf5/test.h5
/src/nn/features/goofspiel/IIGS3/IIGS3_1_3_false_true_lvl7_numpy_dataset.npz
src/nn/features/goofspiel/IIGS3/reach_value_datasets/
src/nn/features/goofspiel/IIGS6/reach_value_datasets.tar.gz
src/nn/features/goofspiel/IIGS3/tfrecord_dataset_IIGS3_1_3_false_true_lvl7/
src/nn/features/goofspiel/IIGS6/tfrecord_dataset_IIGS6_1_6_false_true_lvl10/
src/nn/features/goofspiel/IIGS6/csv_datasets/
/doc/goofspiel/IIGS5.efg
/doc/goofspiel/IIGS6.efg
/src/algorithms/tensorcfr_nn/checkpoints/
/src/nn/checkpoints/
!/src/algorithms/tensorcfr_nn/checkpoints/Runner_CNN_IIGS6Lvl10_TFRecords-2018-11-11_021836-bs=32,ce=64.0,dr=0.1,e=512,e=C-46,r=C-138,t=1,tr=0.8/final_2018-11-11_07:46:15.ckpt.meta
!/src/algorithms/tensorcfr_nn/checkpoints/Runner_CNN_IIGS6Lvl10_TFRecords-2018-11-11_021836-bs=32,ce=64.0,dr=0.1,e=512,e=C-46,r=C-138,t=1,tr=0.8/final_2018-11-11_07:46:15.ckpt.data-00000-of-00001
!/src/algorithms/tensorcfr_nn/checkpoints/Runner_CNN_IIGS6Lvl10_TFRecords-2018-11-11_021836-bs=32,ce=64.0,dr=0.1,e=512,e=C-46,r=C-138,t=1,tr=0.8/final_2018-11-11_07:46:15.ckpt.index
/experiments/1,2,3,5,7layers,train-dev-test_14000-1750-1750_tfrecords/sample_1layer_run.tar.gz
/experiments/tensorcfr_nn/IIGS6Lvl10_FromCkpt/epochs_512/summary.5_layers
/experiments/tensorcfr_nn/IIGS6Lvl10_FromCkpt/epochs_512/summary.7_layers
/src/nn/features/goofspiel/IIGS3/IIGS3_1_3_false_true_lvl7_dev.npz
/src/nn/features/goofspiel/IIGS3/IIGS3_1_3_false_true_lvl7_test.npz
/src/nn/features/goofspiel/IIGS3/IIGS3_1_3_false_true_lvl7_train.npz
/pic.png
